.form-container {
	padding-top: 40px;
}

.input-warning {
	display:none;
	color:red;
}

.add-video-container {
	padding-top: 100px;
}
#inputUrl-error, #inputDescription-error, #inputTitle-error, #inputCategory-error {
	color:red;
}