.form-container {
	padding-top: 40px;
}

.input-warning {
	display:none;
	color:red;
}

.add-video-container {
	padding-top: 100px;
}
#inputUrl-error, #inputDescription-error, #inputTitle-error, #inputCategory-error {
	color:red;
	margin-bottom: 0px;
}

#titleInputContainer, #urlInputContainer, #categoryInputContainer {
	height:55px;
}

#descriptionInputContainer {
	height:125px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	#addVideoForm {
		width: 70%;
		margin: 0 auto;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
