.category-page-container {
	padding-top:100px;
}

.category-title {
	padding-right:50px;
	padding-left:20px;
}
.video-row {
	border-width: 1px;
    border-bottom-width:1px;
    border-bottom-color:grey;
    border-bottom-style: solid;
	padding-bottom:30px;
	padding-top:30px;
}

.video-container {
	padding:0px;
}

.votes-display {
	float:right;
	padding-right:30%;
}

.vote-table {
	height: 315px;
	display: table;
}

.vote-container {
	display: table-cell;
	vertical-align: middle;
}
.video-title-container {
	padding-left:0px;
	padding-bottom:5px;
}
.video-description-container {
	padding-left:0px;
	padding-top:5px;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../images/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

a {
	color:black;
}

iframe {
	max-width:100%;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	h1 {
		margin-top:20px;
		margin-bottom:15px;
	}
	.video-row {
		padding-bottom:50px;
		padding-top:50px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}