.category-page-container {
	padding-top:100px;
}

.category-title {
	padding-right:50px;
	padding-left:20px;
}
.video-row {
	border-width: 1px;
    border-bottom-width:1px;
    border-bottom-color:grey;
    border-bottom-style: solid;
	padding-bottom:50px;
	padding-top:50px;
}

.votes-display {
	float:right;
	padding-right:30%;
}

.vote-table {
	height: 315px;
	display: table;
}

.vote-container {
	display: table-cell;
	vertical-align: middle;
}

a {
	color:black;
}